main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family:'roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgBack {
    width: 30px;
    height: 30px;
}

h1 {
    text-align: center;
    color: #373867;
    font-weight: 700;
    font-family: 'roboto', sans-serif;
    line-height: 47px;
    font-size: 30px;
    text-align: left;
}

label {
    color: #373867;
    font-weight: 700;
    font-family: 'roboto', sans-serif;
}

.dateInput {
    width: 185px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    height: 15px;
    margin: 5px 0;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    border: 1px solid #373867;
    text-align: center;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 30px 20px;
}

.titleContainer > a {
    width: 40%;
    height: auto;
}

.inputForm {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 15px 15px;
    height: 15px;
    margin: 5px 0;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    border: 1px solid #373867;
}

.signUp {
    color: #373867;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 35px 0;
    text-align: center;
}

button {
    border-radius: 5px;
    color: darkslategrey;
    width: 150px;
    height: 50px;
    background-color: #AACE9B;
    color: #373867;
    font-family: 'roboto', sans-serif;
    border: #AACE9B 1px solid;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.errorHidden {
    display: none;
}

.focusInput {
    border: 3px solid blue;
}

.inputSuccess {
    border: 3px solid green;
}

.inputWithError {
    border: 3px solid red;
}

.errorDisplayed {
    color: red;
    font-size: 20px;
    display: block;
    margin: 7px 0;
}

@media screen and (min-width: 833px) {
    h1 {
        text-align: center;
        color: #373867;
        font-weight: 700;
        font-family: 'roboto', sans-serif;
        line-height: 47px;
        text-align: left;
        font-size: 70px;;
    }

    label {
        color: #373867;
        font-weight: 700;
        font-family: 'roboto', sans-serif;
        font-size: 30px;
        margin-top: 3px;
    }

    button {
        border-radius: 5px;
        color: darkslategrey;
        width: 250px;
        height: 70px;
        background-color: #AACE9B;
        color: #373867;
        font-family: 'roboto', sans-serif;
        border: #AACE9B 1px solid;
        font-weight: 700;
        text-align: center;
        font-size: 30px;
        margin: 25px 0;
    }

    .dateInput {
        width: 615px;
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        height: 60px;
        margin: 15px 0;
        font-family: 'roboto', sans-serif;
        font-size: 25px;
        border: 1px solid #373867;
        text-align: center;
    }

    .imgBack {
        width: 70px;
        height: 70px;
    }

    .inputForm {
        display: flex;
        flex-direction: column;
        padding: 15px 0px 15px 15px;
        height: 60px;
        margin: 15px 0;
        width: 600px;
        font-family: 'roboto', sans-serif;
        font-size: 30px;
        border: 1px solid #373867;
    }

    .errorHidden {
        display: none;
    }
    
    .focusInput {
        border: 3px solid blue;
    }
    
    .inputSuccess {
        border: 3px solid green;
    }
    
    .inputWithError {
        border: 3px solid red;
    }
    
    .errorDisplayed {
        color: red;
        font-size: 20px;
        display: block;
        margin: 7px 0;
    }
}

@media  screen and (min-width: 1512px) {
    h1 {
        text-align: center;
        color: #373867;
        font-weight: 700;
        font-family: 'roboto', sans-serif;
        line-height: 47px;
        text-align: left;
        font-size: 90px;;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    label {
        color: #373867;
        font-weight: 700;
        font-family: 'roboto', sans-serif;
        font-size: 39px;
        margin-top: 15px;
        text-align: initial;
    }

    button {
        border-radius: 5px;
        color: darkslategrey;
        width: 350px;
        height: 90px;
        background-color: #AACE9B;
        color: #373867;
        font-family: 'roboto', sans-serif;
        border: #AACE9B 1px solid;
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        margin: 25px 0;
    }

    .dateInput {
        width: 715px;
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        height: 60px;
        margin: 15px 0;
        font-family: 'roboto', sans-serif;
        font-size: 25px;
        border: 1px solid #373867;
        text-align: center;
    }

    .imgBack {
        width: 100px;
        height: 100px;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        justify-content: space-around;
    }

    .inputForm {
        display: flex;
        width: 700px;
        height: 60px;
        margin: 5px 0;
        font-family: 'roboto', sans-serif;
        font-size: 39px;
        border: 1px solid #373867;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .errorHidden {
        display: none;
    }
    
    .focusInput {
        border: 3px solid blue;
    }
    
    .inputSuccess {
        border: 3px solid green;
    }
    
    .inputWithError {
        border: 3px solid red;
    }
    
    .errorDisplayed {
        color: red;
        font-size: 20px;
        display: block;
        margin: 7px 0;
    }
}