header {
    background-color: #AACE9B;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    width: 100%;
}

.menuContainer {
    width: 120px;
    padding-left: 5px;
    height: 15px;
}

.menuHamb {
    width: 15px;
    height: 15px;
}


@media screen and (min-width: 833px) {
    header {
        height: 92px;
    }

    .menuContainer {
        width: 235px;
        padding-left: 10px;
        height: 40px;
    }

    .menuHamb {
        width: 40px;
        height: 40px;
    }
}

@media  screen and (min-width: 1512px) {
    header {
        height: 126px;
        justify-content: center;
    }

    .menuContainer {
        display: none;
    }

    .menuHamb {
        display: none;
    }
}