<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../../Semana-04/styles/reset.css">
    <link rel="stylesheet" href="../../Semana-04/styles/header.css">
    <link rel="stylesheet" href="../../Semana-04/styles/footer.css">
    <link rel="stylesheet" href="../../Semana-04/styles/aside.css">
    <link rel="stylesheet" href="../styles/employee-signup.css">
    <script src="../javascript/employee-signup.js"></script>
</head>
<body>
    <header>
        <div class="menuContainer">
            <img class="menuHamb" src="../../../BaSP-A2022-Etapa-1/images/mh.png" alt="Menu">
        </div>
    </header>
    <main>
        <div class="titleContainer">
            <div class="arrowContainer">
                <a href="../views/index.html">
                    <img class="imgBack" src="../assets/images/flechaLogin.png" alt="back">
                </a>
            </div>
            <h1>SIGN UP</h1>
        </div>
        <form id="formulary" action="#">
            <div class="formContainer">
                <label for="text"> Name </label>
                <input class="inputForm" id="name" type="text" placeholder="Name">
                <p id="name-error">I did not pass the validation.</p>
                <label for="text"> Surname</label>
                <input class="inputForm" id="lastName" type="text" placeholder="Surname">
                <p id="lastName-error" >I did not pass the validation.</p>
                <label for="text"> DNI</label>
                <input class="inputForm" id="dni" type="number" placeholder="DNI">
                <p id="dni-error">I did not pass the validation.</p>
                <label for="text"> Date of birth</label>
                <input class="inputForm" id="date" type="date" placeholder="Date of birth">
                <p id="birthDate-error">I did not pass the validation.</p>
                <label for="text"> Phone</label>
                <input class="inputForm" id="phone" type="number" placeholder="Phone">
                <p id="phone-error">I did not pass the validation.</p>
            </div>
            <div class="formContainer">   
                <label for="text"> Adress </label>
                <input class="inputForm" id="adress" type="text" placeholder="Adress">
                <p id="adress-error">I did not pass the validation.</p>
                <label for="text">Location</label>
                <input class="inputForm" id="city" type="text" placeholder="Location">
                <p id="city-error">I did not pass the validation.</p>
                <label for="text"> Zip</label>
                <input class="inputForm" id="zip" type="number" placeholder="Zip">
                <p id="zip-error">I did not pass the validation.</p>
                <label for="text"> Email</label>
                <input class="inputForm" id="email" type="email" placeholder="Email">
                <p id="email-error">I did not pass the validation.</p>
                <label for="text"> Password</label>
                <input class="inputForm" id="password" type="password" placeholder="Password">
                <p id="password-error">I did not pass the validation.</p>
                <label for="text"> Repeat password</label>
                <input class="inputForm" id="repeatPassword" type="password" placeholder="Repeat password">
                <p id="repeatPassword-error">I did not pass the validation.</p>
            </div>
            <div class="buttonCreate">
                <button type="submit">Create</button>
            <div>
            </form>
    </main>
    <footer>
        <div class="socialMediaContainer">
            <img src="../../../BaSP-A2022-Etapa-1/images/TwitterIcon.png" alt="tw">
            <img src="../../../BaSP-A2022-Etapa-1/images/facebookIcon.png" alt="fb">
            <img src="../../../BaSP-A2022-Etapa-1/images/linkedInIcon.png" alt="linkedin">
            <img src="../../../BaSP-A2022-Etapa-1/images/instagramIcon.png" alt="instagram">
            <img src="../../../BaSP-A2022-Etapa-1/images/githubIcon.png" alt="github">
        </div>
        <div class="footerContainer">
            <p>Rosario, Argentina</p>
            <p>Copyright 2022 GigaTech software solutions SA</p>
            <p>All rights reserved.</p>
        </div>
    </footer>
</body>
</html>