<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trackgenix</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/aside.css">
  <link rel="stylesheet" href="../styles/main.css">
  <script src="../javascript/contact.js"></script>
</head>
<body>
  <header>
    <div class="menuContainer">
      <img class="menuHamb" src="../../../BaSP-A2022-Etapa-1/images/mh.png" alt="Menu">
      <div class="buttonSection">
        <a href="../views/login.html">Login</a>
        <a href="../views/employee-signup.html">Sign Up</a>
      </div>
    </div>
  </header>
  <div class="deskContainer">
    <aside>
      <div>
        <p class="menuTitle">Menu</p>
        <nav>
          <a href="#">Home</a>
          <a href="../views/employee-signup.html">SignUp</a>
          <a href="../views/login.html">Login</a>
        </nav>
      </div>
      <div>
        <p class="contactTitle">Contact</p>
        <ul>
          <li class="contactList">
            <img src="../../../BaSP-A2022-Etapa-1/images/mensaje.jpg" alt="message">
            <p>trackgenix@gmail.com</p>
          </li>
          <li class="contactList">
            <img src="../../../BaSP-A2022-Etapa-1/images/telefono.png" alt="telephone">
            <p>(+54) 4545-9999</p>
          </li>
          <li class="contactList">
            <img src="../../../BaSP-A2022-Etapa-1/images/casa.png" alt="house">
            <p>1234 Somewhee Road #8254 Nashville.</p>
          </li>
        </ul>
      </div>
    </aside>
    <main>
      <section>
        <div class="titleContainer">
          <div class="subtitleContainer">
            <h1>TRACKGENIX</h1>
            <h2>Time control that simplifies your business</h2>
            <p>
              The time control software to manage your.
              employees' time in the easiest, fastest and most intuitive way.
            </p>
            <button class="leanMore">LEAN MORE</button>
          </div>
          <div>
            <img class="imgMain" src="../../../BaSP-A2022-Etapa-1/images/imgMain.jpg" alt="work">
          </div>
          <p class="paragraphTitle">
            The time control software to manage your.
            employees' time in the easiest, fastest and most intuitive way.
          </p>
        </div>
      </section>
      <section class="iconSection">
        <div class="firstReports">
          <img id="tabletImg" src="../../../BaSP-A2022-Etapa-1/images/dataBase.png" alt="data base">
          <h3>Features</h3>
        </div>
        <div class="secondReports">
          <div class="reports">
            <img src="../../../BaSP-A2022-Etapa-1/images/hours.png" alt="hours">
            <p>Hours log</p>
          </div>
            <div class="reports">
              <img src="../../../BaSP-A2022-Etapa-1/images/reports.png" alt="reports">
              <p>Reports</p>
            </div>
          <div class="reports">
            <img src="../../../BaSP-A2022-Etapa-1/images/search.png" alt="search">
            <p>Resource management</p>
          </div>
          <div class="reports">
            <img src="../../../BaSP-A2022-Etapa-1/images/group.png" alt="multiple role">
            <p>Multiple role</p>
          </div>
        </div>
      </section>
      <section>
        <h3 class="titleWhyUseTrackgenix">Why use trackgenix?</h3>
        <div class="whyUseTrackgenix">
          <img src="../../../BaSP-A2022-Etapa-1/images/connectionLaptop.jpg" alt="connection Laptop">
          <ul>
            <li>Productivity booster</li>
            <li>Work traceability</li>
            <li>Leadership and team managemen</li>
            <li>Decision making</li>
          </ul>
        </div>
      </section>
      <section>
        <h3>Ask for more information</h3>
        <form id="formulary" action="#">
          <input class="inputForm" id="name" type="text" placeholder="Name">
          <p class="error" id="name-error">Only letters and must have more than 3 letters.</p>
          <input class="inputForm" id="email" type="email" placeholder="Email">
          <p class="error" id="email-error">Enter a valid email format (cami@gmail.com).</p>
          <select id="contact" name="Category">
            <option>Human Resource</option>
            <option>Systems</option>
            <option>Commercialization</option>
            <p class="error" id="contact-error">Choose an option.</p>
          </select>
          <textarea class="inputForm" name="Message" id="areaMessage" placeholder="Message"></textarea>
          <p class="error" id="areaMessage-error">Alphanumeric text and must have more than 3 letters.</p>
          <div class="buttonContainer">
            <button class="sendButton" type="submit">Send</button>
            <button class="cancelButton">Cancel</button>
          </div>
        </form>
      </section>
      <section>
        <h3 class="titleWhyUseTrackgenix">Our history</h3>
        <div class="historyContainer">
          <div class="ourHistory">
            <p>
              Since 2012, we’ve helped countless companies across the globe build applications that 
              empower growth, leave a lasting impression, and transform their user experience.
              GigaTech was created in 2012 by a trio of colleagues who met through a coding bootcamp. 
              They continue to perfect the craft of app development and make a name for themselves.
            </p>
            <p class="ourHistorySecond">
              As the team grew from three to ten, and then from ten to twenty, they explored new partnerships 
              with major technologies to propel their growth. GigaTech currently has around 70 team members 
              and exciting growth goals ahead of them.
            </p>
          </div>
          <div class="historyImgContainer">
            <img class="historyImg" src="../../../BaSP-A2022-Etapa-1/images/imgMainMidjpg.jpg" alt="img main mid">
          </div>
        </div>
      </section>
      <section class="listContainer">
        <div class="liSection">
          <p>PRODUCT</p>
          <ul>
            <li>Features</li>
            <li>Donwnloads</li>
            <li>Integrations</li>
            <li>Additional Features</li>
          </ul>
        </div>
        <div class="liSection">
          <p>COMPANY</p>
          <ul>
            <li>About us</li>
            <li>Trusted by</li>
            <li>Resources</li>
            <li>Clients</li>
          </ul>
        </div>
        <div class="liSectionEnd">
          <p>SUPPORT</p>
          <ul>
            <li>Help</li>
            <li>Tutorial</li>
            <li>API</li>
            <li>Contact</li>
          </ul>
        </div>
      </section>
    </main>
  </div>
  <footer>
    <div class="socialMediaContainer">
      <img src="../../../BaSP-A2022-Etapa-1/images/TwitterIcon.png" alt="tw">
      <img src="../../../BaSP-A2022-Etapa-1/images/facebookIcon.png" alt="fb">
      <img src="../../../BaSP-A2022-Etapa-1/images/linkedInIcon.png" alt="linkedin">
      <img src="../../../BaSP-A2022-Etapa-1/images/instagramIcon.png" alt="instagram">
      <img src="../../../BaSP-A2022-Etapa-1/images/githubIcon.png" alt="github">
    </div>
    <div class="footerContainer">
      <p>Rosario, Argentina</p>
      <p>Copyright 2022 GigaTech software solutions SA</p>
      <p>All rights reserved.</p>
    </div>
  </footer>
</body>
</html>