header {
    background-color: #AACE9B;
    height: 40px;
    padding-top: 20px;
}

.menuHamb {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
.searchContainer{
    display: inline-block;
    background-color: #D8E7EB;
    border: 1px solid black;
    vertical-align: middle;
    margin-left: 40%;
    border-radius: 20px;
    width: 300px;
}
.glass {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    vertical-align: middle;
}
.searchInput {
    border: none;
    background-color: #D8E7EB;
}
.footerContainer {
    text-align: center;
    margin: 5px 0px;
}
.socialIcon {
    width: 20px;
    height: 20px;
    margin: 0px 1px;
}
.footerContainer > p {
    color: #373867;
    margin: 2px 0;
}
aside {
    display: inline-block;
    width: 300px;
    height: 3370px;
    border-right: 1px solid #BFBFBF;
    vertical-align: top;
}
.menuTitle {
    color: #373867;
    width: 100px;
    height: 33px;
    line-height: 35.16px;
    padding-left: 15px;
    font-weight: 700;
    text-decoration: underline #AACE9B;
    text-underline-offset: 5px;
    margin-top: 5px;
}
nav > a {
    line-height: 50px;
    display: block;
    padding-left: 15px;
    text-decoration: none;
    border-bottom: 1px solid #CDCCCC ;
    color: #373867;
}
.contactList > img {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-left: 15px;
    line-height: 35px;
}
.contactList > p {
    display: inline-block;
    color:  #373867;
    padding-left: 2px;
    line-height: 35px;
}
.titleContainer {
    vertical-align: top;
    display: inline-block;
}
 h1 {
    color: #373867;
    font-size: 70px;
    padding: 15px 30px;
    letter-spacing: 5px;
}
h2 {
    color: #AACE9B;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.imgMain {
    width: 300px;
    height: 300;
    padding: 0 30px;
}
main {
    display: inline-block;
    width: 1044px;
}
.titleContainer > p {
    color: black;
    margin-left: 30px;
    width: 600px;
    font-size: 25px;
    margin-bottom: 25px;
}
.leanMore {
    border-radius: 5px;
    border: 2px solid #AACE9B;
    line-height: 35px;
    margin: 10px 30px;
    background-color: white;
    color: #AACE9B;
}
#tabletImg {
    display: none;
}