aside {
    display: none;
}

@media  screen and (min-width: 833px) {
    aside {
        display: flex;
        flex-direction: column;
        width: 397px;
        height: 3374px;
        padding-top: 80px;
        color: #373867;
        border-right: 2px solid #CDCCCC;
    }

    .menuTitle {
        font-size: 30px;
        font-weight: 700px;
        text-decoration: underline #AACE9B;
        text-underline-offset: 10px;
        font-family: 'roboto', sans-serif;
        padding-left: 55px;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    nav > a {
        font-family: 'roboto', sans-serif;
        font-size: 30px;
        font-weight: 400px;
        text-decoration: none;
        line-height: 108px;
        border-bottom: 1px solid #CDCCCC;
        padding-left: 55px;
        color: #373867;
    }

    .contactList > img {
        width: 29px;
        height: 29px;
        margin-right: 29px;
        font-size: 25px;
        font-weight: 400px;
    }

    .contactList > p {
        font-family: 'roboto', sans-serif;
        font-size: 25px;
        font-weight: 400px;
        text-decoration: none;
    }

    .contactList {
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 55px;
        align-items: center;
        line-height: 30px;

    }

    .contactTitle {
        font-size: 30px;
        font-weight: 700px;
        text-decoration: underline #AACE9B;
        text-underline-offset: 10px;
        font-family: 'roboto', sans-serif;
        padding: 36px 0 0 55px;
        margin-bottom: 36px;
    }

}